body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: 2rem auto;
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
}

h1 {
  color: #4f46e5;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

input {
  padding: 1rem;
  border-radius: 0.625rem;
  font-size: 1.2rem;
}

input[type="text"],
textarea {
  padding: 0.8rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 1rem;
  resize: vertical;
  outline: none;
}

textarea {
  min-height: 100px;
}

.button {
  background-color: #4f46e5;
  color: white;
  padding: 0.7rem 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s ease;
  width: 120px;
  margin: auto;
}

button:hover {
  background-color: #4338ca;
}


.edit-btn,
.delete-btn {
  margin-right: 10px;
  padding: 4px 8px;
  font-size: 0.9rem;
  cursor: pointer;
}

.edit-btn {
  background-color: #ffc107;
  border: none;
  color: #000;
}

.delete-btn {
  background-color: #dc3545;
  border: none;
  color: #fff;
}


h2 {
  margin-top: 2rem;
  color: #111827;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background: #f9fafb;
  padding: 1rem;
  border-left: 4px solid #4f46e5;
  margin-bottom: 1rem;
  border-radius: 8px;
}

li h3 {
  margin: 0 0 0.5rem;
  color: #111827;
}

li p {
  margin: 0.2rem 0;
  color: #374151;
}

li small {
  color: #6b7280;
  font-style: italic;
}
